.row{
    color: white;
    margin-left: 2rem;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2rem;
}

.title{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    max-height: 14rem;
    object-fit: contain;
    margin-right: 1rem;
    transition: transform 450ms;
    z-index: 999;
}

.row__posterLarge{
    max-height: 20rem;
    z-index: 999;
}

.square {
transition: transform 250ms ease-out;
}
  
.square .text {
  display: none;
  color: #fff;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  transition: opacity 300ms ease-out;
}
  
.square:hover {
  transform: scale(1.2);
}

.square:hover .text {
  display: block;
  width: 220px;
}
  
.square:hover .row__poster  {
  background: url(https://media.giphy.com/media/lgcUUCXgC8mEo/giphy.gif);
  z-index: -1;
}

.square:hover .row__posterLarge  {
  background: url(https://media.giphy.com/media/lgcUUCXgC8mEo/giphy.gif);
  z-index: -1;
}