.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    padding: .7rem;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}
nav-black{
    background-color: black;
}

.logo{
    position: fixed;
    left: 1rem;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    object-fit: contain;
}

.account{
    position: fixed;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}