.banner{
    height: 580px;
    color: white;
    position: relative;
    object-fit: contain;
    width: 100%;
}

.banner-content{
    margin-left: 3rem;
    padding-top: 24rem;
    height: 19rem;
}

.banner-title{
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 0.3rem;
}

.banner-discription{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .8rem;
    max-width: 36rem;
    height: 8rem;
}

.banner-fadebottom{
    height: 7.4rem;
    background-image: linear-gradient(
        108deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

.banner-button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vm;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
}

.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}